2_logstashc/certs/logstash-certs/
3a_processing-server/filebeat/certs/*-filebeat-certs/
3a_processing-server/metricbeat/certs/*-metricbeat-certs/
3a_processing-server/execbeat/certs/*-execbeat-certs/
3a_processing-server/filebeat/sample-logs/pf3.log*
